import '@fontsource/inter';

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#redwood-app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;